# Tutorial SQL
by Gianlucca Devigili

Este tutorial foi desenvolvido para a disciplina de Modelagem Informacional da graduação em Ciência de Dados e Inteligência Artificial da Escola de Matemática Aplicada da FGV-RJ.

Usarei para este tutorial o `sqlite3` e a *python 3.9* para o acesso ao banco. A escolha se justifica simplesmente pelo sqlite ser serverless e poder disponibilizar as databases de exemplo [neste repositório](https://github.com/GDevigili/sql-tutorial/tree/main/data).
Todos os recursos e comandos usados aqui podem ser usados em outras databases como SQL Server e MySQL.


Referências:
+ **W3SCHOOLS**, [SQL Tutorial](https://www.w3schools.com/sql/).

O banco de dados que usaremos nesse tutorial segue o seguinte modelo:

![](data/sample_db_er_model.png)

cujo arquivo pode ser acessado [aqui](https://github.com/GDevigili/sql-tutorial/blob/main/data/sample.db)

In [1]:
# configurações iniciais
import sqlite3
cur = sqlite3.connect('data/sample.db').cursor()

from utils import print_select # função que printa o select como tabela

In [2]:
# criação da database
with open('data/sample_db_create.sql', 'r') as sql_file:
    create_script = sql_file.read()

cur.executescript(create_script);

In [3]:
# definição de variáveis
cols_cliente = ['id', 'nome', 'telefone', 'cpf', 'nascimento']

## SELECT

O comando SQL mais comum é o `SELECT`, que, como o nome já diz, seleciona alguma coisa.
A estrutura base é:

```sql
SELECT atributo1, atributo2
FROM tabela;
```

Por exemplo, se quiséssemos selecionar todas as colunas da tabela `produto` poderíamos fazer o seguinte comando:

In [4]:
# armazena o texto da query em uma variável
query_cliente = """
SELECT * 
FROM produto;
"""

# executa a query
cur.execute(query_cliente)

# printa o resultado da query
print_select(cur.fetchall(), cols_cliente)

id    nome    telefone    cpf    nascimento
----  ------  ----------  -----  ------------

uepa, parece que não tem dados aqui, melhor fazer alguns `INSERT`s antes.

## INSERT

A estrutura base do `INSERT` é:

```sql
INSERT INTO tabela (coluna1, coluna2)
VALUES ('valor1', 'valor2');
```

agora na prática, vamos adicionar alguns `clientes`s na DB:

In [5]:
cur.execute("""
INSERT INTO produto
VALUES (1, 'Ednaldo Pereira', '12345678910', '12345678910', '1974-06-12');
""");

Agora podemos selecionar o produto novamente:

In [6]:
cur.execute(query_cliente)
print_select(cur.fetchall(), cols_cliente)

  id  nome                telefone          cpf  nascimento
----  ---------------  -----------  -----------  ------------
   1  Ednaldo Pereira  12345678910  12345678910  1974-06-12

Para inserir vários valores de uma vez podemos fazer:

In [7]:
cur.execute("""
INSERT INTO produto
VALUES 
(2, 'Celso Portiolli', '11912345678', '03110911091', '1981-09-11'),
(3, 'Fausto Silva', '31415926535', '31415956535', '1960-04-01'),
(4, 'Fofão', '98765432111', '98765432111', '2004-08-29');
""");

In [8]:
print_select(cur.fetchall(), cols_cliente)

id    nome    telefone    cpf    nascimento
----  ------  ----------  -----  ------------

In [9]:
cur.execute(query_cliente)
print_select(cur.fetchall(), cols_cliente)

  id  nome                telefone          cpf  nascimento
----  ---------------  -----------  -----------  ------------
   1  Ednaldo Pereira  12345678910  12345678910  1974-06-12
   2  Celso Portiolli  11912345678  03110911091  1981-09-11
   3  Fausto Silva     31415926535  31415956535  1960-04-01
   4  Fofão            98765432111  98765432111  2004-08-29